html{
    background-color: rgb(51, 15, 102);
}
.float-container{
    padding: 20px;

}
#chatBox{
    background-color: rgb(217, 166, 238);

    width: 600px;
    padding: 5px;
    height: 200px;
    overflow: scroll; /*text doesnt overflow bottom of the box*/
    overflow: auto;/*i over rode prev line, this makes it slicker since only applies if browser needs it*/
    word-break: break-all; /*text cant be so long u scroll both Y AND X axis*/
    float:left;

}

#nameSection{   
    width: 150px;
    padding: 0px;
    height: 210px;
    overflow: auto;
    background-color: rgb(130, 145, 255);
    
}
h1{
    background-color: tomato;
    width: 480px;
}
p{

    color: black;
    text-align: left;
}